.hero {
    width: 100%;
    height: 50vh;
    background: url('/image/editia2024/scanbilete.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.heroOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.heroText {
    position: relative;
    z-index: 2;
    font-weight: bold;
    color: #fff;
}

.heroText h3 {
    font-size: 2rem;
    margin: 0;
}

.projectDetails {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 1rem;
    font-size: 1rem;
    color: #666;
    flex-wrap: wrap; /* Permite elementelor să fie împărțite pe rânduri diferite dacă este necesar */
}

.projectCategory,
.projectStatus {
    background-color: #1b0177; /* Albastru închis */
    color: white;
    border-radius: 10px;
    padding: 5px 15px;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 10px; /* Spațiu pentru a separa butoanele de data proiectului */
}

.projectDate {
    font-size: 0.9rem;
    color: #666;
    margin-top: 15px; /* Adaugă un spațiu între data proiectului și restul elementelor */
    display: block;
}

.heroTitle {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}


.storiesSection {
    padding: 3rem 0;
}

.sectionTitle {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    padding: 5px;
}

.cardsWrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding-bottom: 1rem;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.card h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0;
    color: #333;
}

.card p {
    font-size: 1rem;
    color: #666;
    margin: 0 1rem 1.5rem;
}

.card a {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    color: #1b0177b8;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.card a:hover {
    color: #1b0177b8;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.paginationButton {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.paginationButton:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.pageInfo {
    font-size: 1.2rem;
    color: #333;
}

/* Filter section styling */
.filterSection {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filterWrapper {
    display: flex;
    gap: 1rem;
}

.filterButton {
    padding: 10px 20px;
    border: 1px solid #dcdcdc;
    background-color: white;
    color: #333;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.filterButton:hover {
    border-color: #eb0028;
    color: #eb0028;
}

.activeFilter {
    border-color: #eb0028; /* Galben-portocaliu pentru filtrul activ */
    color: #333;
    font-weight: bold;
}

/* Product cards styling */
.productLink {
    text-decoration: none;
    color: inherit;
}

.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: left; /* Aliniere la stânga */
    width: 300px;  /* Dimensiune fixă pentru consistență */
    background-color: #ffffff;
    overflow: hidden;
    margin-bottom: 1rem;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.productImage {
     width: 100%;
     height: 200px;
     object-fit: cover;
     border-bottom: 1px solid #ddd;
     margin-bottom: 1rem;
 }

/* Product title */
.productTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #333;
}

/* Product details styling */
.productDetailsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #ddd;
}


.productCategory {
    background-color: #eb0028; /* Roșu */
    color: white;
    padding: 0.3rem 0.8rem; /* Padding compact */
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: bold;
    display: inline-block; /* Fundal doar pe dimensiunea textului */
    text-align: center;
    margin: 0.5rem auto; /* Centrare orizontală */
}


/* Product Price - Mai mic */
.productPrice {
    font-size: 1rem; /* Dimensiune redusă */
    color: #333;
    font-weight: bold;
    text-align: center;
    display: block; /* Afișat sub categorie */
    margin-bottom: 1rem;
}



.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popupContent {
    background: #fff;
    border-radius: 10px;
    padding: 2rem;
    width: 90%;
    max-width: 800px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
}

.popupWrapper {
    display: flex;
    gap: 2rem;
}

.popupImageWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupImage {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

.popupDetails {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
}

.popupTitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #333;
}

.popupPrice {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.popupDescription {
    font-size: 1rem;
    color: #666;
    margin-top: 1rem;
}

.popupBuyButton {
    background: #ffa500;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    align-self: flex-start;
}

.popupBuyButton:hover {
    background: #ff8c00;
}

