/* HERO SECTION */
.hero {
    width: 100%;
    height: 50vh;
    background: url('/image/editia2024/stas-interviu.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.heroOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.heroText {
    position: relative;
    z-index: 2;
    font-weight: bold;
    color: #fff;
}

.heroText h3 {
    font-size: 2rem;
    margin: 0;
}

/* ABOUT SECTION */
.aboutSection {
    width: 100%;
    padding: 3rem 1.5rem; /* Ajustează padding pentru toate dispozitivele */
    background-color: #fdfdff;
}

@media (max-width: 768px) {
    .aboutSection {
        padding: 2rem 1rem; /* Padding redus pentru dispozitive mici */
    }
}

.aboutContentWrapper {
    width: 100%;
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.aboutTextWrapper {
    flex: 1;
    max-width: 500px;
    padding: 1rem;
}

.aboutTitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: left; /* Aliniere la stânga */
}

.aboutText {
    font-size: 1rem;
    line-height: 1.6;
    color: black;
}

.aboutImage {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

/* MISS SECTION */
.missSection {
    width: 100%;
    padding: 3rem 2rem;
    background-color: #fdfdff;
}

.missContainer {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: flex-start; /* Aliniere la stânga */
    align-items: flex-start; /* Elemente aliniate la stânga */
}

.subtitleMission {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
    text-align: left; /* Aliniere la stânga */
    color: #000;
}

/* Media Queries pentru ajustări */
@media (max-width: 1024px) {
    .missContainer,
    .aboutContentWrapper {
        flex-direction: column; /* Elemente pe verticală */
        align-items: flex-start; /* Aliniere la stânga */
    }

    .missSection {
        padding: 2rem 1.5rem; /* Padding redus pe laptop */
    }
}

@media (max-width: 768px) {
    .aboutTitle,
    .subtitleMission {
        font-size: 1.5rem;
        text-align: left; /* Menține alinierea la stânga */
    }
}

/* Imaginea */
.missImage {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.missImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Paragrafe */
.paragraphMission {
    margin-bottom: 1rem;
    text-align: justify;
    font-size: 1rem;
}

/* Email */
.emailMission {
    color: #eb0028;
    font-weight: bold;
    text-decoration: none;
}

.emailMission:hover {
    text-decoration: underline;
}
