/* HERO SECTION */
.hero {
    width: 100%;
    height: 50vh;
    background: url('/image/editia2024/stefan-raly.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    margin: 0;
}

.heroOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.heroContentWrapper {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
}

/* ABOUT SECTION */
.aboutSection {
    width: 100%;
    padding: 3rem 0;
    background-color: #fdfdff;
}

.aboutContentWrapper {
    width: 100%;
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.aboutTextWrapper {
    flex: 1;
    max-width: 500px;
    padding: 1rem;
}

.aboutTitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.aboutText {
    font-size: 1rem;
    line-height: 1.6;
    color: black;
}

.aboutImage {
    border-radius: 10px;

}

/* SOLUTIONS SECTION */
.solutionsSection {
    padding: 3rem;
    background-color: #D2E2FF;
}

.sectionTitle {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.cardsWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    justify-content: center;
}

.card2 {
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card2:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card2 img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.card2 h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0;
    color: #333;
}

.card2 p {
    font-size: 1rem;
    color: #666;
    margin: 0 1rem 1.5rem;
}

/* TEAM SECTION */
.teamSection {
    background-color: #D2E2FF;
    padding: 4rem 2rem;
}

.teamWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    justify-content: center;
}

.teamMember {
    background-color: #fff;
    padding: 1rem;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.teamMember:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.teamImage {
    width: 100px; /* Dimensiunea dorită a imaginii */
    height: 100px; /* Dimensiunea dorită a imaginii */
    border-radius: 50%; /* Imagine rotundă */
    object-fit: cover; /* Acoperă complet chenarul fără deformare */
    object-position: center; /* Centrează imaginea în chenar */
    display: block; /* Elimină spațiile nedorite */
    margin: 0 auto; /* Centrează imaginea în containerul părinte */
}

.teamName {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1rem;
    color: #333;
}

.teamRole {
    font-size: 1rem;
    color: #777;
}

/* VISION SECTION */
.visionSection {
    padding: 4rem 10rem;
}

.visionTitle {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
}

.visionText {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

/* RESPONSIVENESS */
@media (max-width: 992px) {
    .visionSection {
        padding: 4rem 2rem;
    }

    .heroContentWrapper {
        justify-content: center;
    }

    .aboutContentWrapper {
        flex-direction: column;
        gap: 1.5rem;
    }

    .teamWrapper {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .cardsWrapper {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}
